{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width dummy-options">
  <div class="radio-inputs">
    <input type="radio" name="group" id="general-radio" value="general-radio" checked>
    <label for="general-radio" id="general-label">
      <img src="https://cdn.shopify.com/s/files/1/0719/5269/5597/files/hands-without-plus.png?v=1679696990">
      <span>{{ section.settings.col1_title }}</span>  {{ section.settings.col1 }}
    </label>


    <input type="radio" name="group" id="supplier-radio" value="supplier-radio">
    <label for="supplier-radio" id="supplier-label">
      <img src="https://cdn.shopify.com/s/files/1/0719/5269/5597/files/warehouse.png?v=1678492628">
      <span>{{ section.settings.col2_title }}</span> {{ section.settings.col2 }}
    </label>

      <input type="radio" name="group" id="buyer-radio" value="buyer-radio">
      <label for="buyer-radio" id="buyer-label"><img src="https://cdn.shopify.com/s/files/1/0719/5269/5597/files/dude.png?v=1678492672">
      <span>{{ section.settings.col3_title }}</span> {{ section.settings.col3 }} 
    </label>
    
</div>
</div>



<div id="generalc">
  {{ section.settings.col1_form }}
</div>

<div id="supplier">
  {{ section.settings.col2_form }}
</div>

<div id="buyer">
  {{ section.settings.col3_form }}
</div>





{% comment %}   
  <div class="color-{{ section.settings.color_scheme }} gradient" >
    <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
      {%- if section.settings.heading != blank -%}
        <h2 class="title title-wrapper--no-top-margin {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h2>
      {%- else -%}
        <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
      {%- endif -%}
      {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
        {%- if form.posted_successfully? -%}
          <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h2>
        {%- elsif form.errors -%}
          <div class="form__message">
            <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
          </div>
          <ul class="form-status-list caption-large" role="list">
            <li>
              <a href="#ContactForm-email" class="link">
                {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
              </a>
            </li>
          </ul>
        {%- endif -%}
          <div class="field">
            <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
            <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
          </div>
          <div class="field field--with-error">
            <input
              autocomplete="email"
              type="email"
              id="ContactForm-email"
              class="field__input"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="ContactForm-email-error"
              {% endif %}
              placeholder="{{ 'templates.contact.form.email' | t }}"
            >
            <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
            {%- if form.errors contains 'email' -%}
              <small class="contact__field-error" id="ContactForm-email-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
              </small>
            {%- endif -%}
          </div>
        <div class="field">
          <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
          <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
        </div>
        <div class="field">
          <input type="text" id="ContactForm-company" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.company' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
          <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
        </div>
        <div class="field">
          <textarea
            rows="10"
            id="ContactForm-body"
            class="text-area field__input"
            name="contact[{{ 'templates.contact.form.comment' | t }}]"
            placeholder="{{ 'templates.contact.form.comment' | t }}"
          >
            {{- form.body -}}
          </textarea>
          <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
        </div>
        <div class="contact__button">
          <button type="submit" class="btn">
            {{ 'templates.contact.form.send' | t }}
          </button>
        </div>
      {%- endform -%}
    </div>
  </div>
{% endcomment %}


<style>
  .page-contact .register-for-access-message {
    display: none;
  }
</style>
<script>
  const buyerButton = document.querySelector('#buyer-label');
  const buyer = document.querySelector('#buyer');

  const supplierButton = document.querySelector('#supplier-label');
  const supplier = document.querySelector('#supplier');

  const generalButton = document.querySelector('#general-label');
  const generalc = document.querySelector('#generalc');


  const urlSearchParams = new URLSearchParams(window.location.search);
 

  // Get the value of the 'name' parameter
  const contact = urlSearchParams.get('contact');

  console.log("contact:", contact);

  if (contact) {
    if (contact == "buyer" || contact == "supplier" || contact == "general") {
      console.log("hit!")
      showForm(contact);
     // changeURL(urlSearchParams);
    } else {
      generalc.style.display = 'block';
    } 
    
  } else {
    generalc.style.display = 'block';
  }

  buyerButton.addEventListener('click', () => {
    showForm("buyer");
    changeURL("buyer");
  });
  supplierButton.addEventListener('click', () => {
    showForm("supplier");
    changeURL("supplier");
  });
  generalButton.addEventListener('click', () => {
    showForm("general");
    changeURL("general");
  });
  
  function showForm(val) {
    buyer.style.display = 'none';
    supplier.style.display = 'none';
    generalc.style.display = 'none';
    if (val == "buyer") {
      buyer.style.display = 'block';
      document.getElementById('buyer-radio').checked = true;

    }
    if (val == "supplier") {
      supplier.style.display = 'block';
      document.getElementById('supplier-radio').checked = true;
    }
    if (val == "general") {
      generalc.style.display = 'block';
      document.getElementById('general-radio').checked = true;
    }
  }


  function changeURL(val) {
    const getcurrentURL = window.location.href;
    const url = new URL(getcurrentURL);
    const search_params = url.searchParams;

    search_params.set('contact', val);

    url.search = search_params.toString();

    const new_url = url.toString();

    // output : http://demourl.com/path?id=101&topic=main
    // console.log(new_url);
    //window.location.href = new_url;
    window.history.pushState({ path: new_url }, '', new_url);
  }

</script>



{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "text",
      "id": "col1_title",
      "default": "General Inquiry",
      "label": "Col 1: Title"
    },
    {
      "type": "text",
      "id": "col1",
      "default": "I just want to chat with the team",
      "label": "Col 1: description"
    },
    {
      "type": "textarea",
      "id": "col1_form",
      "default": "<p><iframe src=\"https://docs.google.com/forms/d/e/1FAIpQLSf3eU4dwEzi7wIS46FQjYLGH3g407_n8ziQBFRS50tT_pSUaQ/viewform?embedded=true\" width=\"640\" height=\"600\" frameborder=\"0\" marginheight=\"0\" marginwidth=\"0\">Loading…</iframe></p>",
      "label": "Col 1 Form code"
    },
    {
      "type": "text",
      "id": "col2_title",
      "default": "Supplier",
      "label": "Col 2: Title"
    },
    {
      "type": "text",
      "id": "col2",
      "default": "I have batteries to supply",
      "label": "Col 2: description"
    },
    {
      "type": "textarea",
      "id": "col2_form",
      "default": "<p><iframe src=\"https://docs.google.com/forms/d/e/1FAIpQLSf3eU4dwEzi7wIS46FQjYLGH3g407_n8ziQBFRS50tT_pSUaQ/viewform?embedded=true\" width=\"640\" height=\"600\" frameborder=\"0\" marginheight=\"0\" marginwidth=\"0\">Loading…</iframe></p>",
      "label": "Col 2 Form code"
    },
    {
      "type": "text",
      "id": "col3_title",
      "default": "Buyer",
      "label": "Col 3: Title"
    },
    {
      "type": "text",
      "id": "col3",
      "default": "I want to purchase batteries",
      "label": "Col 3: description"
    },
    {
      "type": "textarea",
      "id": "col3_form",
      "default": "<p><iframe src=\"https://docs.google.com/forms/d/e/1FAIpQLSf3eU4dwEzi7wIS46FQjYLGH3g407_n8ziQBFRS50tT_pSUaQ/viewform?embedded=true\" width=\"640\" height=\"600\" frameborder=\"0\" marginheight=\"0\" marginwidth=\"0\">Loading…</iframe></p>",
      "label": "Col 3 Form code"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
