
<div class="hero-home-container {% if customer %} signed-in {% endif %}">
  <div class="hero-home page-width">
      <div class="content">
        <div class="row">
          <div class="col1 ">
            {% if customer %}
              <h4>Hey, {{ customer.first_name }}!</h4>
              <h1>{{ section.settings.loggedin-heading }}</h1>
              <h4 class="hero-home-mb"> {{ section.settings.loggedin-subheading }}</h4>
            {% else %}
              <h1>{{ section.settings.heading }}</h1>
              <h4>{{ section.settings.subheading }}</h4>
            {% endif %}
            <div class="buttons">
              {% if customer %}
                <a href="/collections/battery-packs" class="btn primary">Marketplace</a>
                <a href="/pages/how-to-buy" class="btn tertiary">How to Buy</a>
              {% else %}
                <a href="/pages/contact?contact=supplier" class="btn primary">Register for Access</a>
                <a href="#whyweexist" class="btn tertiary">Learn More</a>
              {% endif %}
            </div>
        </div>
          <div class="col2">
            {% if customer %}
              <img src="https://cdn.shopify.com/s/files/1/0713/1312/9756/files/nissan-page.png?v=1697754375" />
              {% else %}
              <img src="https://cdn.shopify.com/s/files/1/0719/5269/5597/files/hero-combined.webp?v=1691103532" />
            {% endif %}
          </div>
        </div>
        <p>Exclusive marketplace for: <img src="https://cdn.shopify.com/s/files/1/0719/5269/5597/files/nissan_4r.webp?v=1689980626" id="nissan-logo"></p>
      </div>
  </div>
  {{ section.settings.svg }}
</div>




{% schema %}
  {
  "name": "home-page-hero",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Second-life sourcing starts here",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "default": "Currents is a B2B marketplace for a second-life batteries intentionally designed for energy storage customers. The future of sourcing begins now.",
      "label": "Sub Heading"
    },
    {
      "type": "text",
      "id": "loggedin-heading",
      "default": "You're in.",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "loggedin-subheading",
      "default": "Welcome to the future of second-life sourcing. View the best available inventory priced by state-of-health. We’re one step closer to net zero..",
      "label": "Sub Heading"
    },
    {
      "type": "textarea",
      "id": "svg",
      "default": "<svg id=\"svg-bg\" class=\"hide\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\" xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\" style=\"margin: auto; background: rgba(221, 221, 221, 0); display: block; shape-rendering: auto;\" width=\"2694\" height=\"1316\" preserveAspectRatio=\"xMidYMid\" viewBox=\"0 0 2694 1316\">\n    <g transform=\"translate(1347,658) scale(1,1) translate(-1347,-658)\"><linearGradient id=\"lg-0.2905066362366657\" x1=\"0\" x2=\"1\" y1=\"0\" y2=\"0\">\n      <stop stop-color=\"#FFC191\" offset=\"0\"><\/stop>\n      <stop stop-color=\"#FFCFAA\" offset=\"1\"><\/stop>\n    <\/linearGradient><path d=\"\" fill=\"url(#lg-0.2905066362366657)\" opacity=\"0.4\">\n      <animate attributeName=\"d\" dur=\"33.333333333333336s\" repeatCount=\"indefinite\" keyTimes=\"0;0.333;0.667;1\" calcMode=\"spline\" keySplines=\"0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1\" begin=\"0s\" values=\"M0 0L 0 1005.1946326137997Q 336.75 997.4028352189227  673.5 966.5352755477741T 1347 1084.588987083283T 2020.5 950.8847862878124T 2694 868.9897704703067L 2694 0 Z;M0 0L 0 1014.4984211404882Q 336.75 1239.0769909285707  673.5 1200.4026173599493T 1347 886.1651345184112T 2020.5 912.9467049007064T 2694 755.1082403118064L 2694 0 Z;M0 0L 0 1053.5862448076164Q 336.75 1115.474536727129  673.5 1100.8232348790516T 1347 994.1319640905591T 2020.5 721.9652181729139T 2694 868.5511553068452L 2694 0 Z;M0 0L 0 1005.1946326137997Q 336.75 997.4028352189227  673.5 966.5352755477741T 1347 1084.588987083283T 2020.5 950.8847862878124T 2694 868.9897704703067L 2694 0 Z\"><\/animate>\n    <\/path><path d=\"\" fill=\"url(#lg-0.2905066362366657)\" opacity=\"0.4\">\n    <animate attributeName=\"d\" dur=\"33.333333333333336s\" repeatCount=\"indefinite\" keyTimes=\"0;0.333;0.667;1\" calcMode=\"spline\" keySplines=\"0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1\" begin=\"-16.666666666666668s\" values=\"M0 0L 0 1035.2387187103961Q 336.75 950.8762870384636  673.5 937.1492282274335T 1347 890.4676781255916T 2020.5 792.0597298237054T 2694 756.6360009507027L 2694 0 Z;M0 0L 0 997.4880276883285Q 336.75 1098.523641229865  673.5 1080.0682719980248T 1347 1004.7040575495237T 2020.5 764.1297131861741T 2694 949.4617648663153L 2694 0 Z;M0 0L 0 1039.7713778429084Q 336.75 1093.5179010346897  673.5 1061.707744468759T 1347 1133.479737401332T 2020.5 855.676762036532T 2694 687.8205110794534L 2694 0 Z;M0 0L 0 1035.2387187103961Q 336.75 950.8762870384636  673.5 937.1492282274335T 1347 890.4676781255916T 2020.5 792.0597298237054T 2694 756.6360009507027L 2694 0 Z\"><\/animate></path></g></svg>",
      "label": "SVG code"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "home-page-hero"
    }
  ]
}
{% endschema %}
