{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{%- if section.settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="section-{{ section.id }}-padding" >
  <div>
  {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
  {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
    <facet-filters-form class="facets facets-vertical-sort page-width small-hide no-js-hidden">
      <form id="FacetSortForm">
        <div class="row">
          <!-- class="facets-vertical-form"  -->
          <div class="col-1">
            <h2>  {{- collection.title | escape -}} </h2>
            <span>
              {%- if collection.results_count -%}
                {{ 'templates.search.results_with_count' | t: terms: collection.terms, count: collection.results_count }}
              {%- elsif collection.products_count == collection.all_products_count -%}
                {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
              {%- else -%}
                {{ 'products.facets.product_count' | t: product_count: collection.products_count, count: collection.all_products_count }}
              {%- endif -%}
            </span>
          </div>
          
          <div class="col-2">
            <h2 class="facet-filters__label caption-large text-body">
              <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
            </h2>
            <div class="select">
              {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
              <select name="sort_by" class="facet-filters__sort select__select caption-large" id="SortBy" aria-describedby="a11y-refresh-page-message">
                {%- for option in collection.sort_options -%}
                  <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
                {%- endfor -%}
              </select>
              {% render 'icon-caret-custom' %}
            <noscript>
              <button type="submit" class="facets__button-no-js button button--secondary">{{ 'products.facets.sort_button' | t }}</button>
            </noscript>
            </div>
          </div>
        </div>

      </div> <!-- stuff -->




        
        <div class="product-count-vertical light" role="status">
          <h2 class="product-count__text text-body">
            
          </h2>
          <div class="loading-overlay__spinner">
            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </div>  
      </form>
    </facet-filters-form>
  {%- endif -%}

  {%- style -%}
  .booger {
    display: flex;
  }
{%- endstyle -%}
  <div class=" booger page-width {% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
    {{ 'component-facets.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
    {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
      <aside aria-labelledby="verticalTitle" class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}" id="main-collection-filters" data-id="{{ section.id }}">
        {% render 'facets', results: collection, enable_filtering: section.settings.enable_filtering, enable_sorting: section.settings.enable_sorting, filter_type: section.settings.filter_type %}
      </aside>
    {%- endif -%}

    <div class="product-grid-container" id="ProductGridContainer">
      {%- paginate collection.products by section.settings.products_per_page -%}
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t }}<br>
                {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
            <div class="loading-overlay gradient"></div>
            {%- if section.settings.list_display == "list_yes" -%} 
            <div class="card-product-list top">
              <div class="card-product-list__col1" id="title-sort">
                 Title
              </div>
              <div class="card-product-list__col2" id="price-sort">
                  Price
              </div>
              <div class="card-product-list__col3" id="soh-sort">
                State of Health <div class="info" id="info-soh" data-tooltip="text goes here" data-flow="top">
                  <svg height="18" viewBox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg"><path d="m103.636647 711.23666c-4.9627995 0-9.0000005 4.037201-9.0000005 9s4.037201 9 9.0000005 9c4.962799 0 9-4.037201 9-9s-4.037201-9-9-9zm0 3.750046c.414047 0 .749954.335907.749954.749954s-.335907.749954-.749954.749954c-.414048 0-.749955-.335907-.749955-.749954s.335907-.749954.749955-.749954zm1.6875 10.499908h-3.375c-.414734 0-.749955-.335907-.749955-.749954s.335221-.749954.749955-.749954h.937545v-4.5h-.5625c-.414734 0-.750091-.336044-.750091-.750092 0-.41391.335357-.749954.750091-.749954h1.312455c.414733 0 .749954.336044.749954.749954v5.250092h.937546c.414733 0 .749954.335907.749954.749954s-.335221.749954-.749954.749954z" fill="#a7a4a1" transform="translate(-94.636647 -711.23666)"></path></svg>
              </div>
              </div>
              <div class="card-product-list__col4" id="makemodel-sort">
                Type
              </div>
              <div class="card-product-list__col5" id="battery_type-sort">
                Capacity
              </div>
              <div class="card-product-list__col7">
                Add to Cart
              </div>
            </div>

            
        {%- endif -%}
            {% comment %}
              New code for switch for list view
            {% endcomment %}
            {% if section.settings.list_display == "list_no" %} 
            <ul id="product-grid" data-id="{{ section.id }}" class="
              grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
              grid--{{ section.settings.columns_desktop }}-col-desktop">
            {% else %}
            <ul id="product-grid" data-id="{{ section.id }}" class="
              grid product-grid grid--1-col-tablet-down
              grid--1-col-desktop">
            {% endif %}

         

              {%- for product in collection.products -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                
                 {% comment %}
              New code for switch for list view
            {% endcomment %}
                {%- if section.settings.list_display == "list_no" -%} 
                <li class="grid__item">
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    lazy_load: lazy_load,
                    show_quick_add: section.settings.enable_quick_add,
                    section_id: section.id

                  %} 
                  {%- else -%}
                  <li class="grid__item"
                    data-title="{{product.title}}"
                    data-makemodel="{{ product.metafields.custom.make.value }} {{ product.metafields.custom.model.value }}" 
                    data-soh="{{ product.metafields.custom.soh.value }}"
                    data-battery_type="{{ product.metafields.custom.battery_type.value }}"
                    data-price="{{ product.price }}"
                    data-location="{{ product.metafields.custom.location_state }} {{ product.metafields.custom.location_city }}"
                  
                  >
                    {% render 'card-product-list',
                      card_product: product,
                      media_aspect_ratio: section.settings.image_ratio,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_rating: section.settings.show_rating,
                      lazy_load: lazy_load,
                      show_quick_add: section.settings.enable_quick_add,
                      section_id: section.id
                    %}
                {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
    
            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endpaginate -%}
    </div>
  </div>
</div>

<style>
  .highlighted {
    background-color: rgba(0,0,0,0.25);
  }
  [id$=sort]  {
   cursor: pointer;
  }
</style>
<script>

  const ul = document.querySelector('#product-grid');
  const lis = Array.from(ul.children);

  const titleList = document.querySelector('#title-sort')
  const priceList = document.querySelector('#price-sort')
  const sohList = document.querySelector('#soh-sort'); 
  const makemodel = document.querySelector('#makemodel-sort')
  const batteryTypeList = document.querySelector('#battery_type-sort');
  const locationList = document.querySelector('#location-sort');

  let titleOrder = 'asc';
  let priceOrder = 'asc';
  let sohSortOrder = 'asc';
  let makeModelOrder = 'asc';
  let batteryTypeSortOrder = 'asc';
  let locationOrder = 'asc';


titleList.addEventListener('click', ()=>{
  removeHighlighted();
  titleList.classList.add("highlighted")
  sortNumerical("titleOrder", "title");
}); 
  
priceList.addEventListener('click', ()=>{
  removeHighlighted();
  priceList.classList.add("highlighted")
  sortNumerical("priceOrder", "price");
}); 

sohList.addEventListener('click', ()=>{
  removeHighlighted();
  sohList.classList.add("highlighted")
  sortNumerical("sohSortOrder", "soh");
}); 

makemodel.addEventListener('click', ()=> {
  removeHighlighted();
  makemodel.classList.add("highlighted")
  sortAlphabetical("makeModelOrder", "makemodel");
});

batteryTypeList.addEventListener('click', ()=> {
  removeHighlighted();
  batteryTypeList.classList.add("highlighted")
  sortAlphabetical("batteryTypeSortOrder", "battery_type");
});

locationList.addEventListener('click', ()=> {
  removeHighlighted();
  locationList.classList.add("highlighted")
  sortAlphabetical("locationOrder", "location");
});





//Sorting
function sortAlphabetical (sort, whichData) {
  if (window[sort] === 'asc') {
    lis.sort((a, b) => a.dataset[whichData].localeCompare(b.dataset[whichData]));
    window[sort] = 'desc';
  } else {
    window[sort] = 'asc';
    lis.sort((a, b) => b.dataset[whichData].localeCompare(a.dataset[whichData]));
  }
  console.log(window[sort], whichData);
  lis.forEach(li => ul.appendChild(li));
}


function sortNumerical (sort, whichData) {
  if (window[sort] === 'asc') {
    lis.sort((a, b) => a.dataset.soh - b.dataset.soh);
    window[sort] = 'desc';
  } else {
    lis.sort((a, b) => b.dataset.soh - a.dataset.soh);
    window[sort] = 'asc';
  }
  console.log(window[sort], whichData);
  lis.forEach(li => ul.appendChild(li));
}

  //remove classes
  function removeHighlighted () {
    const findClass = document.querySelectorAll(".highlighted")
    findClass.forEach(el => {
      el.classList.remove('highlighted');
    });
  }


  

</script>


{% schema %}
{
  "name": "t:sections.main-collection-product-grid-alt.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 25,
      "max": 1000,
      "step": 25,
      "default": 25,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "list_display",
      "options": [
        {
          "value": "list_no",
          "label": "No"
        },
        {
          "value": "list_yes",
          "label": "Yes"
        }
      ],
      "default": "list_no",
      "label": "Display as List: (Will not show image)"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid-settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}