{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
   
  }
  .section-{{ section.id }}-padding .page-width {
    background-color: {{section.settings.background_color }};
    border-radius: {{section.settings.border_radius }}
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% unless customer %}
    <div class="register-for-access-message section-{{ section.id }}-padding" >
      <div class=" page-width">
        {% if section.settings.sub_head  %}
          <p class="mono">{{ section.settings.sub_head }}</p>
        {% endif %}

        {% if section.settings.head  %}
            <h3 class="mono">{{ section.settings.head }}</h3>
        {% endif %}
        {% if section.settings.message %}
        <p class="message">{{ section.settings.message }}</p>
        {% endif %}
          
          {% if section.settings.button_text  %}
            <br>
            <a href="{{ section.settings.button_url }}" class="btn register-for-access-button">{{ section.settings.button_text }}</a>
          {% endif %}
          
      </div>
    </div>
  {% endunless %}
  
  
  {% schema %}
  {
     "name": "register-for-access",
     "settings": [
      {
        "type": "text",
        "id": "sub_head",
        "label": "Above Header",
        "default": "Above Header"
      }, 
      {
        "type": "text",
        "id": "head",
        "label": "Header",
        "default": "Header"
      }, 
      {
        "type": "textarea",
        "id": "message",
        "label": "Content",
        "default": "My message goes here"
      }, 
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Contact Us"
      }, 
      {
        "type": "text",
        "id": "button_url",
        "label": "Button URL",
        "default": "/pages/contact?contact=buyer"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
      },
      {
        "type": "range",
        "id": "border_radius",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Border Radius",
        "default": 20
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
     ],
     "presets": [
        {
            "name": "Register For Access"
        }
     ]
  }
  {% endschema %}