{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .section-{{ section.id }}-padding h2 {
    margin-bottom: {{ section.settings.margin_bottom }}px;

  }
  .section-{{ section.id }}-padding .page-width {
    position: relative;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding .bg {
      padding-left: 35px;
    padding-right: 35px;
    }
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="simple-product-images  section-{{ section.id }}-padding" >
    <div class=" page-width">
        <div class="relative">
            <div class="images">
                {% for image in product.images %}
                    <div>
                        <img src="{{ image.src | image_url:  width: 2048 }}">
                    </div>
                {% endfor %}
            </div>
            <div class="info">
                <svg height="18" viewBox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg"><path d="m103.636647 711.23666c-4.9627995 0-9.0000005 4.037201-9.0000005 9s4.037201 9 9.0000005 9c4.962799 0 9-4.037201 9-9s-4.037201-9-9-9zm0 3.750046c.414047 0 .749954.335907.749954.749954s-.335907.749954-.749954.749954c-.414048 0-.749955-.335907-.749955-.749954s.335907-.749954.749955-.749954zm1.6875 10.499908h-3.375c-.414734 0-.749955-.335907-.749955-.749954s.335221-.749954.749955-.749954h.937545v-4.5h-.5625c-.414734 0-.750091-.336044-.750091-.750092 0-.41391.335357-.749954.750091-.749954h1.312455c.414733 0 .749954.336044.749954.749954v5.250092h.937546c.414733 0 .749954.335907.749954.749954s-.335221.749954-.749954.749954z" fill="#a7a4a1" transform="translate(-94.636647 -711.23666)"/></svg>
            </div>
            <div class="tooltip">
                {{ section.tooltip }}
            </div>
        </div>
    </div>
</div>


   {% schema %}
  {
     "name": "simple-product-images",
     "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "tooltip",
            "label": "Tooltip",
            "default": "Photos are generic. They are not actual images of each unique product."
          }, 
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
     ],
     "presets": [
        {
            "name": "simple-product-images"
        }
     ]
  }
  {% endschema %}