{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
   
  }
  .section-{{ section.id }}-padding .page-width {
    position: relative;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding .bg {
      padding-left: 35px;
    padding-right: 35px;
    }
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

    <div class="simple-product-title  section-{{ section.id }}-padding" >
      <div class=" page-width">
        <div class="simple-content">
            <div class="product-title">
                <h2 class="{{ section.settings.size }}">{{ section.settings.head }}</h2>
            </div>
            <div class="social-media">
                <svg height="13.754839" viewBox="0 0 26 13.7548387" width="26" xmlns="http://www.w3.org/2000/svg"><path d="m12.025 13.7548387h-5.525c-1.79833333 0-3.33125-.6705484-4.59875-2.0116452-1.2675-1.3410967-1.90125-2.96302146-1.90125-4.86577415 0-1.90275268.63375-3.52467741 1.90125-4.86577419 1.2675-1.34109677 2.80041667-2.01164516 4.59875-2.01164516h5.525v2.06322581h-5.525c-1.26388167 0-2.33819083.46726333-3.2229275 1.40179-.884715.93450374-1.3270725 2.06927793-1.3270725 3.40432258 0 1.33502172.4423575 2.47248957 1.3270725 3.41240351.88473667.939914 1.95904583 1.409871 3.2229275 1.409871h5.525zm-4.0625-5.84580644v-2.06322581h10.075v2.06322581zm6.0125 5.84580644v-2.0632258h5.525c1.2638817 0 2.3381908-.4672633 3.2229275-1.40179.884715-.93450374 1.3270725-2.06927793 1.3270725-3.40432258 0-1.33502172-.4423575-2.47248957-1.3270725-3.41240355-.8847367-.93991397-1.9590458-1.40987096-3.2229275-1.40987096h-5.525v-2.06322581h5.525c1.7983333 0 3.33125.67054839 4.59875 2.01164516 1.2675 1.34109678 1.90125 2.96302151 1.90125 4.86577419 0 1.90275269-.63375 3.52467745-1.90125 4.86577415-1.2675 1.3410968-2.8004167 2.0116452-4.59875 2.0116452z" transform="translate(0 .000001)"/></svg>
                Share
                <div class="social-menu">
                    <div class="facebook">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}">
                        <svg height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg"><path d="m24 4h-18c-1.105 0-2 .895-2 2v18c0 1.105.895 2 2 2h10v-9h-3v-3h3v-1.611c0-3.05 1.486-4.389 4.021-4.389 1.214 0 1.856.09 2.16.131v2.869h-1.729c-1.076 0-1.452.568-1.452 1.718v1.282h3.154l-.428 3h-2.726v9h5c1.105 0 2-.895 2-2v-18c0-1.105-.896-2-2-2z"/></svg>
                        Facebook
                        </a>
                    </div>
                    <div class="twitter">
                        <a href="http://twitter.com/share?text=&url={{ shop.url }}{{ product.url }}">
                        <svg height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg"><path d="m28 6.937c-.957.425-1.985.711-3.064.84 1.102-.66 1.947-1.705 2.345-2.951-1.03.611-2.172 1.055-3.388 1.295-.973-1.037-2.359-1.685-3.893-1.685-2.946 0-5.334 2.389-5.334 5.334 0 .418.048.826.138 1.215-4.433-.222-8.363-2.346-10.995-5.574-.458.788-.721 1.704-.721 2.683 0 1.85.941 3.483 2.372 4.439-.874-.028-1.697-.268-2.416-.667v.067c0 2.585 1.838 4.741 4.279 5.23-.447.122-.919.187-1.406.187-.343 0-.678-.034-1.003-.095.679 2.119 2.649 3.662 4.983 3.705-1.825 1.431-4.125 2.284-6.625 2.284-.43 0-.855-.025-1.273-.075 2.361 1.513 5.164 2.396 8.177 2.396 9.812 0 15.176-8.128 15.176-15.177 0-.231-.005-.461-.015-.69 1.043-.753 1.948-1.692 2.663-2.761z"/></svg>
                        Twitter
                        </a>
                    </div>
                        
                    <div class="linkedin">
                        <a href="https://www.linkedin.com/cws/share?url={{ shop.url }}{{ product.url }}">
                        <svg height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg"><path d="m24 4h-18c-1.105 0-2 .895-2 2v18c0 1.105.895 2 2 2h18c1.105 0 2-.895 2-2v-18c0-1.105-.895-2-2-2zm-13.046 18h-2.95v-9.492h2.95zm-1.505-10.849c-.951 0-1.72-.771-1.72-1.72s.77-1.719 1.72-1.719c.948 0 1.719.771 1.719 1.719 0 .949-.771 1.72-1.719 1.72zm12.555 10.849h-2.948v-4.616c0-1.101-.02-2.517-1.533-2.517-1.535 0-1.771 1.199-1.771 2.437v4.696h-2.948v-9.492h2.83v1.297h.04c.394-.746 1.356-1.533 2.791-1.533 2.987 0 3.539 1.966 3.539 4.522z"/></svg>
                        LinkedIn
                        </a>
                    </div>
                    <div class="copy" id="copyUrl">
                        <svg enable-background="new 0 0 457.03 457.03" height="457.03" viewBox="0 0 457.03 457.03" width="457.03" xmlns="http://www.w3.org/2000/svg"><path d="m421.512 207.074-85.795 85.767c-47.352 47.38-124.169 47.38-171.529 0-7.46-7.439-13.296-15.821-18.421-24.465l39.864-39.861c1.895-1.911 4.235-3.006 6.471-4.296 2.756 9.416 7.567 18.33 14.972 25.736 23.648 23.667 62.128 23.634 85.762 0l85.768-85.765c23.666-23.664 23.666-62.135 0-85.781-23.635-23.646-62.105-23.646-85.768 0l-30.499 30.532c-24.75-9.637-51.415-12.228-77.373-8.424l64.991-64.989c47.38-47.371 124.177-47.371 171.557 0 47.357 47.369 47.357 124.178 0 171.546zm-226.804 141.03-30.521 30.532c-23.646 23.634-62.128 23.634-85.778 0-23.648-23.667-23.648-62.138 0-85.795l85.778-85.767c23.665-23.662 62.121-23.662 85.767 0 7.388 7.39 12.204 16.302 14.986 25.706 2.249-1.307 4.56-2.369 6.454-4.266l39.861-39.845c-5.092-8.678-10.958-17.03-18.421-24.477-47.348-47.371-124.172-47.371-171.543 0l-85.765 85.768c-47.366 47.385-47.366 124.172 0 171.553 47.371 47.356 124.177 47.356 171.547 0l65.008-65.003c-25.972 3.826-52.644 1.213-77.373-8.406z"/></svg>
                        Copy
                            <div class="copied">Copied!</div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  <script>
// Copy current URL to clipboard
function copyToClipboard() {
    const currentUrl = window.location.href;
    navigator.clipboard.writeText(currentUrl)
        .then(() => {
            console.log("URL copied to clipboard:", currentUrl);
            // You can display a success message or perform any other actions here
            // Add class to body
            document.body.classList.add("showcopy");

            // Remove class after 2 seconds
            setTimeout(() => {
                document.body.classList.remove("showcopy");
            }, 1000);
        })
        .catch((error) => {
            console.error("Failed to copy URL to clipboard:", error);
            // You can display an error message or handle the error in an appropriate way here
        });
    }
  
    // Call the copyToClipboard function when needed
    const copyButton = document.getElementById("copyUrl");
    copyButton.addEventListener("click", copyToClipboard);  
    
</script>
  
  {% schema %}
  {
     "name": "simple-product-title",
     "settings": [

      {
        "type": "text",
        "id": "head",
        "label": "Header",
        "default": "Header"
      }, 
      {
        "type": "select",
        "id": "size",
        "options": [
          {
            "value": "h1",
            "label": "h1"
          },
          {
            "value": "h2",
            "label": "h2"
          },
          {
            "value": "h3",
            "label": "h3"
          },
          {
            "value": "h4",
            "label": "h4"
          }
        ],
        "default": "h2",
        "label": "Text size"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
     ],
     "presets": [
        {
            "name": "simple-product-title"
        }
     ]
  }
  {% endschema %}