{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
   
  }
  .section-{{ section.id }}-padding .page-width {
    position: relative;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding .bg {
      padding-left: 35px;
    padding-right: 35px;
    }
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="simple-specs  section-{{ section.id }}-padding" >
    <div class=" page-width">
    <h2 class="{{ section.settings.size }}">{{ section.settings.head }}</h2>
    <div class="container">
        <div class="image" >
            {%- if section.settings.image != blank -%}
                {{ section.settings.image| img_url: '2048x' | img_tag }}
            {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
            <div class="btn-container">
            <div class="btn white" id="section-{{ image.id }}"><svg height="14.5" viewBox="0 0 14.4998731 14.5" width="14.499873" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(-1 0 0 -1 14.499872 14.5)"><path d="m3.5520249.888014v-.888014h-3.10802179c-.24522847 0-.44400311.19877638-.44400311.444007v3.10804899h.88800623v-2.03799212l4.12478891 4.12482502.62604439-.62604987-4.12478892-4.12482502z"/><path d="m14.05587 0h-3.1080218v.888014h2.0379743l-4.12478895 4.12482502.62604438.62604987 4.12478897-4.12482502v2.03799212h.8880062v-3.10804899c0-.24523062-.1987747-.444007-.4440031-.444007z"/><path d="m13.6118669 12.9859361-4.12478897-4.12482499-.62604438.62604987 4.12478895 4.12482502h-2.0379743v.888014h3.1080218c.2452284 0 .4440031-.1987764.4440031-.444007v-3.108049h-.8880062z"/><path d="m5.01279514 8.86111111-4.12478891 4.12601629v-2.0363887h-.88800623v3.1056036c0 .2450377.19877464.4436577.44400311.4436577h3.10802179v-.8873153h-2.03797429l4.12478892-4.12157971z"/></g></svg> Expand</div>
            </div>
        </div>
        <div class="stats">
            <div class="row">
                <div class="col-1">Dimensions</div>
                <div class="col-2">{{ product.metafields.custom.dimensions }}</div>
            </div>
            <div class="row">
                <div class="col-1">Weight</div>
                <div class="col-2">{{ product.metafields.custom.weight }}</div>
            </div>
            <div class="row">
                <div class="col-1">Cell Chemistry</div>
                <div class="col-2">{{ product.metafields.custom.cell_chemistry }}</div>
            </div>
            <div class="row">
                <div class="col-1">Rated Voltage</div>
                <div class="col-2">{{ product.metafields.custom.rated_voltage }}</div>
            </div>
            <div class="row">
                <div class="col-1">Modules</div>
                <div class="col-2">{{ product.metafields.custom.modules }}</div>
            </div>
            <div class="row">
                <div class="col-1">Total Cells</div>
                <div class="col-2"{{ product.metafields.custom.total_cells }}></div>
            </div>
        </div>

    </div>
    
    </div>
</div>

<div class="simple-specs-modal" id="modal-{{ section.id }}">
    <div class="modal-content">
        <span class="close" id="close-{{ section.id }}">&times;</span>
    <div class="image">
        {%- if section.settings.image != blank -%}
            {{ section.settings.image| img_url: '2048x' | img_tag }}
        {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
    </div>
    </div>
</div>

<script>
    // Get the modal
const modal = document.getElementById("modal-{{ section.id }}")

// Get the button that opens the modal
const btn = document.querySelector("#section-{{ image.id }}")

// Get the <span> element that closes the modal
const span = document.querySelector("#close-{{ section.id }}")

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
  
  {% schema %}
  {
     "name": "simple-specs",
     "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
      {
        "type": "text",
        "id": "head",
        "label": "Header",
        "default": "Specs"
      }, 
      {
        "type": "select",
        "id": "size",
        "options": [
          {
            "value": "h1",
            "label": "h1"
          },
          {
            "value": "h2",
            "label": "h2"
          },
          {
            "value": "h3",
            "label": "h3"
          },
          {
            "value": "h4",
            "label": "h4"
          }
        ],
        "default": "h2",
        "label": "Text size"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
     ],
     "presets": [
        {
            "name": "simple-specs"
        }
     ]
  }
  {% endschema %}