{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
   
  }
  .section-{{ section.id }}-padding .page-width {
    position: relative;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding .bg {
      padding-left: 35px;
    padding-right: 35px;
    }
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

    <div class="test-information section-{{ section.id }}-padding" >
      <div class=" page-width">
        <div class="col1">
            {%- if section.settings.image != blank -%}
                {{ section.settings.image| img_url: '2048x' | img_tag }}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
        </div>
        <div class="col2">
            {% if section.settings.head  %}
                <h3 class="">{{ section.settings.head }}</h3>
            {% endif %}
            <div class="state">
                <div>{{ section.settings.state-of-health }}</div>
                <div>{{ section.settings.tested-on }}</div>
            </div>
            {% if section.settings.message %}
            <p class="message">{{ section.settings.message }}</p>
            {% endif %}
        </div>
      </div>
    </div>
  
  
  {% schema %}
  {
     "name": "test-information",
     "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
      {
        "type": "text",
        "id": "head",
        "label": "Header",
        "default": "Header"
      }, 
      {
        "type": "textarea",
        "id": "message",
        "label": "Content",
        "default": "My message goes here"
      }, 
      {
        "type": "text",
        "id": "state-of-health",
        "label": "Stats",
        "default": "stats go here"
      }, 
      {
        "type": "text",
        "id": "tested-on",
        "label": "Tested On",
        "default": "Tested Date"
      }, 
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
     ],
     "presets": [
        {
            "name": "test-information"
        }
     ]
  }
  {% endschema %}